<!-- <button *ngIf="isRootNode" mat-button [matMenuTriggerFor]="menu">
    {{ trigger }}
</button>
<button mat-menu-item *ngIf="!isRootNode" [matMenuTriggerFor]="menu" (menuOpened)="getData(trigger)">
    {{ trigger }}
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-spinner mode="indeterminate" diameter="24"></mat-spinner>
    </button>
    <ng-container *ngFor="let node of data; let i = index">
        <button mat-menu-item>
            <app-menu [trigger]="node" *ngIf="isExpandable(node); else menuItem"></app-menu>
        </button>
        <ng-template #menuItem>
            <button mat-menu-item>{{ node }}</button>
        </ng-template>
    </ng-container>
</mat-menu> -->
<ng-container *ngIf="isRootNode">
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="haveSubMenu(menuData.id); else topMenu">
        {{ menuData.text }}
    </button>
    <ng-template #topMenu>
        <button *ngIf="isRootNode" mat-button >
            {{ menuData.text }}
        </button>
    </ng-template>
</ng-container>

<button mat-menu-item *ngIf="!isRootNode" [matMenuTriggerFor]="menu" (menuOpened)="getSubMenus(menuData.id)"
    #mt="matMenuTrigger" (mousemove)="onMouseOver(mt)">
    {{ menuData.text }}
</button>
<mat-menu #menu="matMenu">
    <ng-container *ngFor="let item of items; let i = index">
        <button mat-menu-item>
            <app-menu [menuData]="item" *ngIf="haveSubMenu(item.id); else menuItem"></app-menu>
        </button>
        <ng-template #menuItem>
            <button mat-menu-item>{{ item.text }}</button>
        </ng-template>
    </ng-container>
</mat-menu>